---
layout: default
title: Franzi & Doug

---
<section class="section--first is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" 
        src="{{ site.baseurl_featured_img }}franzi-doug-1.jpg" 
        style="" 
        alt="">

    </div>
    <div class="section-gradient section-gradient--lighter"></div>
    <div class="section-index-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>Franzi And Doug</h2>
        <h3>June 24th, 2016</h3>
        <h3>Mallorca, Spain</h3>
          <h2 id="clock"></h2>
      </div>
    </div>
  </section>

<section class="section--postsWrapper">
  <div class="container">
    <div class="blockGroup">
      <ul class="blockGroup-list">
        {% for post in site.posts %}
          <li class="block">
            <div class="postArticle-wrapper">
              <article class="postArticle postArticle--short">
                {% if post.image.feature %}
                  <a href="{{ post.url }}">
                    <div class="postArticle-image desaturate" 
                        style="background-image:url('{{ post.image.feature | prepend: site.baseurl_featured_img }}');
                        {% if post.image.thumbnailPosition %}background-position: {{post.image.thumbnailPosition}};{% endif %}
                        {% if post.image.thumbnailBackgroundSize %}background-size: {{post.image.thumbnailBackgroundSize}}; {% endif %}">
                    </div>
                  </a>
                {% else %}
                <a href="{{ post.url }}">
                  <div class="postArticle-image" style="background-image:url('{{site.baseurl}}assets/images/logo-black.svg')">
                  </div>
                </a>
                {% endif %}
                <a class="postArticle-title" href="{{ post.url }}">{{ post.title }}</a>
                <div class="block-postMeta">{{ post.excerpt }}</div>
              </article>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
